* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ekran';
    src: url('Ekran-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font for you';
    src: url('Font for you-400-normal-0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.text_ekran {
    font-size: 6.25vw;
    line-height: 92%;
    font-family: 'Ekran';
    letter-spacing: 0.01em;
}

.text_for_you {
    font-size: 5vw;
    line-height: 92%;
    font-family: 'Font for you';
    letter-spacing: 0.01em;
}

@media (max-width: 479px) {
    .text_for_you {
        font-size: 12.82vw;
    }
}